
        body{
            background-color: #F5F5F5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        input{
          width: 97%;
          height: 12px;
          padding: 0.9rem;
          font-size: 1.2rem;
          border-radius: 5px;
          border: 0;
          margin: 10px;
          }
      
          input :focus{
            outline: none;
            box-shadow: 0,0,10px #009E9E;
          }
          
          a{
            color:#E9E9E9;
            font-size: 0.8rem;
            margin-top: 0.3rem;
          }

        button{
          width: 100%;
          max-width: 200px;
          margin-top: 1.2rem;
          background-color: #CCCCCC;
          padding: 0.9rem 2rem;
          border-radius: 0.25rem;
          border: none;
          color: #006666;
          font-size: 1rem;
          cursor: pointer;
        }
        
        button:hover{
            background-color: #E9E9E9;
        }

        .container{
          background-color: #E9E9E9;
          margin: auto;
          margin-top: 200px;
          width: 600px;
          box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.2);
          border-radius: 5px;
          overflow: hidden;
        }
        
        .header{
          padding: 0.9rem;
        }
        
        .flex-container{
            display: flex;
            justify-content: space-around;
        }
        
        .header-title{
          color: #006666;
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1.2rem;
        }
       
        .text1-header{
          color: #008B8A;
          font-size: 1.12rem;
          font-weight: 700;
          margin-bottom: 0.9rem;
        }
        
        .text1-header1{
          font-size: 1.2rem;
          color: #168587;
          font-weight: 600;
          margin-bottom: 0.9rem;
        }
        
        .col-1{
          background-color: #006A6A;
          width: 50%;
          padding: 1.2rem;
          color: #fff;
        }
        .col-1 button {
        display: block;
        margin: 1.2rem auto 0 auto; 
        width: 60%; 
        }
        
        .footer-title{
          color: #E6EDED;
          font-size: 1.2rem;
          text-align: center;
          margin-bottom: 1.2rem;
        }
        
        .price{
          color: #E6EDED;
          font-size: 1.62rem;
          font-weight: 700;
        }
        .subtitle1{
          font-size: 0.9rem;
          margin-left: 15px;
        }
        
        .subtitle2{
          color: #E6EDED;
          font-size: 1rem;
        }
       
        .col-2{
          background-color: #008B8A;
          width: 50%;
          padding: 0.6rem 1.2rem;
          color: #fff;
        }

        .image-group
        {
          text-align: center;
        }
        
        .form-register{
            background-color: #006A6A;
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-around;
        }
       
       
        @media screen and (max-width: 620px){
          .html{
            font-size: 14px;
          }
          .flex-container{
            flex-direction: column;
          }
          .col-1, .col-2{
            width: 100%;
            box-sizing: border-box;
          }
          .container{
            width: 95%;
          }
          .header{
            padding: 15px;
          }
        }
  